@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	// для фиксированного сайта
	// body
	// 	width: 1200px
	.header
		&.internet-shop-header
			.header_title
				top: calc(50% - 300px )
	.header-form
		form
			.label
				text-align: center
			& > div
				display: block
		.modal_form_input_wrap
			margin: 0 0 20px
	.blog-section
		.blog-content-container
			.content
				.blog-navigation
					width: 416px
				.link-for-article
					h4
						min-width: 365px
						font-size: 21px
						p
							font-size: 14px
						br
							display: block
				.recomendation-article
					.text
						width: 193px
					.img-wrap
						margin-right: 10px
						width: 90px
	.header_top
		padding-left: 9px
		padding-right: 9px
	.header_nav
		top: 4px
	.header_modal
		margin-top: 14px
		margin-left: 5px
		button
			width: 130px
			font-size: 14px
		a
			font-size: 14px
	.title_block_left_decor
		width: 100%
		margin: auto
		&.title_right
			margin: 0
		p
			text-align: center
			width: 100%
			padding: 0 15px
	.title_block_left_decor_img
		display: none
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.intermediate_item
				display: block
				margin: 30px auto 30px
			.modal_form_input_wrap
				display: inline-block
	.header_logo
		margin-left: 0
		margin-top: 40px
		img
			height: 40px
	.header_nav
		margin: 0
		ul
			margin: 0
			margin-top: 13px
			padding-left: 10px
			li
				margin-right: 5px
				&:first-child
					margin-left: 5px
				&:last-child
					a
						margin-right: 0
				a
					margin-right: 10px
					font-size: 15px
	.hoverDivMenu
		ul
			margin-left: 5px
			&:first-child
				margin-left: 0
				padding-left: 0
			li
				font-size: 14px

	.vacancies-developers
		&.vacancies
			.vacancies-item
				.image-wrap
					float: left
					.img2
						height: 225px
					.img1
						height: 177px
					.img3
						height: 320px
					.img4
						height: 230px
				.requirements-wrap
					float: left
				.requirements
					h4
						width: 284px
						font-size: 16px
						span
							font-size: 20px
					.salary
						font-size: 26px
			.button-wrap
				float: left
				button
					width: 214px
	.our_advantages
		.our_advantages_item
			margin: 0 auto 50px
			float: none
			&:first-of-type
				margin: 0 auto 50px
			&:last-of-type
				margin: 0 auto 50px
		a
			margin-bottom: 50px
	.why_effective
		&.us-internet-shop-section
			.item-wrap
				.img-wrap
					.hover-eff
						h4
							margin: 60px 0 10px
						h5
							margin: 35px 0 5px

		&.why_profitably
			.why_profitably_items
				text-align: center
			.why_profitably_item_img
				width: 100%
				height: auto
				padding-left: 15px
				padding-right: 15px
				margin-right: 0
				img
					display: block
					max-width: 100%
					height: auto
					margin: auto
			.why_profitably_item_txt
				margin: auto
	.how_good
		.how_good_item
			margin: 30px auto 30px
			float: none
			&:nth-of-type(2n+1)
				margin: 0 auto 30px
			&:nth-of-type(2n+2)
				margin: 0 auto 30px
	//секция our-team-section
	.why_effective
		&.our-team-section
			.title_block_left_decor
				p
					width: 100%
	// портфолио секция


	// секция about-us-office
	.us-office-section
		&.about-us-office
			.img-container
				background-size: contain
				width: auto
				display: inline-block
				.imgHoverWrap
					width: 730px
					height: 100%
					img
						height: 100%
				.imgHoverWrapSmall
					width: 100%
					height: 100%
				img
					max-width: 100%
					height: auto
					display: block
					margin-bottom: 5px
					&:last-child
						margin-bottom: 0
	//секция about-us-form
	.unique_challenge
		&.about-us-form
			.title-wrap
				h2
					line-height: 1
				p
					display: inline

	// секция about-us-map
	.contacts-map-section
		&.about-us-map
			.contacts
				margin-bottom: 70px
			.contacts
				ul
					li
						p
							display: inline
	.couple_of_words
		background: none
		.ourFasesFoto
			display: none
		.couple_of_words_txt
			margin: 0 auto 100px
			width: 60%
			height: 90%
	//Секция  services
	.services
		.services_items
			margin: 0
			padding: 0 15px
		.services_item
		.services_item_img_wrap
			display: inline-block
			margin: 0 auto 30px
			float: none
		.services_item_txt_wrap
			display: inline-block
			margin: auto
			float: none
			text-align: center
			.services_item_txt_inner
				width: 100%
			button
				position: static
				margin-top: 30px

	.internet-shop-instruction
		.content
			ul
				li
					aside
						p
							display: inline
						width: 540px
					.button
						width: 285px
						margin-right: 0

	.our_advantages
		&.internet-shop-goods
			.title_block_left_decor
				width: auto
				padding: 0

	.our_advantages
		&.langing-page-doing
			min-height: 858px
			h3
				margin-top: 50px
			.title_block_left_decor
				padding: 0
				width: auto
			.title-wrap
				margin-bottom: 30px
	.langing-page-whe-call-section
		min-height: 730px
		.content
			.img-wrap
				width: 446px
			.text-wrap
				padding-top: 35px
				h3
					font-size: 30px
					margin: 0 0 30px
				aside
					font-size: 20px
	.landing-development-steps
		.video-wrap
			width: 510px

	.langing-page-form-section
		.content
			padding: 41px 4px 12px 67px
	.header
		&.company-site-header
			h1
				font-size: 55px
			.header-form
				form
					.label
						text-align: center
					& > div
						display: block
				.modal_form_input_wrap
					margin: 0 0 20px
	.company-site-why-effective
		.why_profitably_items
			h3
				font-size: 30px
			.why_profitably_item_img
				height: auto
				width: 431px
			.why_profitably_item_txt
				padding-top: 39px

	.internet-shop-instruction
		.content
			ul
				li
					.input-wrap
						input[type=submit]
							width: 285px
					aside
						&.center-text
							font-size: 18px

	.company-site-agreement-section
		.list-wrap
			ul
				li
					margin-bottom: 35px
					h3
						font-size: 25px
	.owl-carousel
		.owl-item
			& > div
				width: 90%
				margin: auto
		.carousel_you_have_done
			width: 435px

	.contextual-not-pay-section
		.about-wrap
			font-size: 18px

	.contextual-google-yandex-section
		.img-wrap
			margin-bottom: 20px

	.header
		&.contextual-header
			h3
				margin: 50px 0 30px

	br
		display: none
	.unlike_contextual_of_advertising
		.context_wrap
			padding-left: 15px

	.contextual-not-pay-section
		&.smm-pages
			.social-item
				.text
					font-size: 19px
					br
						display: block

	.smm-guarantees-section
		.guarantees-wrap
			text-align: center
			padding: 0
			.item
				font-size: 24px
				width: 248px
				&.item-1
					margin-right: 130px
				img
					width: 80%
	.develop-site-problem-section
		.item
			.content
				font-size: 16px
				max-width: 255px
				a
					width: 100%
				.title
					font-size: 22px

	.internet-shop-instruction
		&.mk
			.list-items
				width: 50%
			.content
				text-align: center
				.gear-wrap
					display: none
				ul
					padding: 0 50px 0 0
					text-align: left
					li
						padding-left: 0
						.decor-img
							display: none
						.arrow
							display: none
						aside
							display: inline
							&.center-text
								height: auto
						img
							display: none
			.img-wrap-mk
				width: 50%

	.portfolio-design-section
		.contant
			.title
				padding-top: 0
	.about-us-design-section
		.download-price-wrap
			br
				display: block
			.item
				margin-bottom: 50px

	.reviews
		.reviewContainer
			.bossName
				margin-left: 126px
			.companyName
				top: 162px
				left: -45px
			.positionBoss
				top: 313px
				left: 104px
			.reviewWraper
				.imgContainer
					.blueString
						width: 75px
						height: 75px
					.bottom
						top: 151px
						left: 82px
						&:after
							content: ""
							/* style */
							top: 70px
					.top
						top: -49px
						left: 77px
						&:after
							content: ""
							/* style */
							left: 75px
					.middle
						height: 1px
						top: 99px
						left: -25px
					.forImageCompany
						margin-top: 0
			.textContainer
				.mailsData
					.wraperDataCalendar
						float: left

					a
						display: block

			.letterContainer
				display: none
	//section advancementVk
	.advancementConductingVk
		.iconSocial
			.imgWraper
				display: block
				margin: 0 auto
				width: 100%
				text-align: center
			p
				display: block
				font-size: 22px
				margin: 10px auto
				text-align: center
				width: 100%


	.us-office-section
		&.about-us-office
			.img-container
				.iconPlus
					width: 50px
					height: 50px
				.img-item
					display: inline-block
					vertical-align: middle
					.imgHoverWrapSmall
						width: 195px
						margin-bottom: 4px
						margin-left: 4px
					img
						display: block
						margin-bottom: 5px
						&:last-child
							margin-bottom: 0

					.imgWrapper
						float: left


	.blog-detalis-content-section
		.widget
			text-align: center
		.widget-vk
			display: inline-block
			vertical-align: middle
			margin: 0 15px
		.widget-fb
			margin: 0 15px
			display: inline-block
			vertical-align: top

	.footer
		.social-link
			.item
				margin: 0 6px
@media only screen and (max-width : 1030px)
	.header_title
		position: absolute
		left: 0
		right: 0
		top: calc(50% - 200px)
	.internet-shop-instruction
		.content
			.gear-wrap
				display: none
			ul
				li
					.arrow
						display: none

	.why_effective
		&.us-internet-shop-section
			.item-wrap
				.img-wrap
					.hover-eff
						h4
							margin: 20px 0 10px




@media only screen and (max-width : 993px)
	/**/
	.header
		&.internet-shop-header
			.header_title
				top: calc(50% - 300px )
	h2
		margin-top: 50px
	.header_top
		text-align: center
	.header_nav
		display: none
	.header_logo
		display: inline-block
		margin-top: 33px
		padding: 0 20px 0 75px
	.header_modal
		display: inline-block
		margin-top: 7px
		float: right
	nav[canvas]
		display: block
	.header
		video
			display: none
		display: block

	.vacancies-developers
		&.vacancies
			.vacancies-item
				.image-wrap
					.img2
						height: 150px
						margin-top: 64px
					.img1
						height: 118px
						margin-top: 88px
					.img3
						height: 222px
						margin-top: 15px
					.img4
						height: 162px
						margin-top: 55px
				.requirements
					h4
						width: 260px
			.button-wrap
				button
					width: 146px
	.unique_challenge
		form
			& > div
				display: block
			.modal_form_input_wrap
				margin-right: 0
				margin-bottom: 20px
				display: inline-block
			input[type=submit]
				margin-bottom: 50px

	.us-office-section
		&.about-us-office
			.img-container
				.imgHoverWrap
					display: block
					width: 100%
					margin-bottom: 4px
				.img-item
					display: none
					.imgHoverWrapSmall
						display: none

	.reviewClient
		display: none

	.reviews
		.reviewContainer
			.reviewWraper
				.imgContainer
					.forImageCompany
						width: 50%
						text-align: center
						img

					.imgContainerList
						display: inline-block
						padding: 10px
						li
							margin-top: 20px
							margin-left: 10px
							position: relative
							left: 20px
							&:after
								content: ""
								/* style */
								width: 15px
								height: 15px
								border-radius: 50%
								border: 1px dashed #0cf;
								display: block
								position: absolute
								top: 5px
								left: -30px
					.blueString
						display: none
				.textContainer
					margin-top: 10px
	//секция about-us-form
	.unique_challenge
		&.about-us-form
			form
				& > div
					display: block
			.modal_form_input_wrap
				margin-right: 0px
				margin-bottom: 30px
			.social-links-container
				margin-bottom: 50px
	.unique_challenge
		p
			&.p_light
				margin-bottom: 100px
	.our_advantages
		&.internet-shop-goods
			.internet-shop-goods-item
				padding: 0 10px
			.form-wrap
				form
					& > div
						display: block
				.modal_form_input_wrap
					margin-right: 0px
					margin-bottom: 15px
	.internet-shop-instruction
		.content
			ul
				li
					aside
						width: auto
					.button
						float: none
						display: block
		&.company-site
			.content
				ul
					li
						.button
							float: right

	.why_effective
		&.us-internet-shop-section
			.items-wrap
				text-align: center
				margin-bottom: 0
			.item-wrap
				margin-bottom: 40px
				.list-wrap
					display: inline-block
				.img-wrap
					margin: auto
					width: 320px
				p
					&.light
						width: 320px
						margin: auto
	.langing-page-understanding
		.title_block_left_decor
			width: auto
			padding: 0
	.langing-page-whe-call-section
		.content
			.img-wrap
				display: block
				margin: auto
			.text-wrap
				display: block
				margin: auto
				margin-bottom: 50px

	.langing-page-form-section
		.form_frame
			h3
				margin-left: 0
				font-size: 34px
			ul
				padding-top: 44px
				li
					font-size: 15px
		form
			& > div
				display: block
				text-align: center
			.modal_form_input_wrap
				margin-right: 0
				margin-bottom: 30px
		.content
			padding: 30px 4px 12px 40px
			.title-content
				width: 270px
				font-size: 27px
			.list
				width: 385px

	.landing-development-steps
		.content
			.lists-wrap
				float: none
				text-align: center
				width: auto
				.gear-wrap
					display: none
				ul
					width: 460px
					display: inline-block
					text-align: left
					padding: 30px 0 1px 0
					li
						.arrow
							display: none
		.video-wrap
			float: none
			margin: auto
		.form-container
			#form
				& > div
					display: block
					text-align: center
				.modal_form_input_wrap
					margin-right: 0
					margin-bottom: 30px

	.header_title
		h1
			font-size: 48px
	.owl-carousel
		width: 90%

	.header
		&.company-site-header
			h1
				font-size: 42px
	.owl-carousel
		.carousel_you_have_done
			width: 435px
			margin: auto
			float: none
		.carousel_analitics
			margin: auto
			float: none

	.contextual-not-pay-section
		.img-wrap
			padding-right: 0
		.about-wrap
			margin-left: 0

	.contextual-google-yandex-section
		.contextual-google-yandex-form
			form
				& > div
					display: block
				.modal_form_input_wrap
					margin-right: 0
					margin-bottom: 20px
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			.item_txt
				width: 95%

	.smm-guarantees-section
		.warning-wrap
			.content
				padding: 46px 30px

	.contextual-not-pay-section
		&.smm-pages
			.social-item
				margin-bottom: 30px
				img
					width: 70px
	.develop-site-problem-section
		.item
			text-align: center
			.img-wrap
				margin: 0 0 20px 0
			.content
				text-align: center
				max-width: 255px
	.unique_challenge
		&.services
			min-height: 100%
	.main_section_portfolio
		.tab_working_div
		.tabwraper
			.tabs-items
				width: 150px
	.footer
		.footer-logo
			margin-bottom: 30px
			img
				width: 80px
			p
				font-size: 12px
				br
					display: block
		.social-link
			.fa
				font-size: 12px
			.item
				margin: 0 4px
			a
				width: 30px
				height: 30px
		.contacts-container
			p
				font-size: 21px
				margin: 0
			ul
				li
					font-size: 14px
		.select
			max-width: 300px
			margin: auto

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header-form
		form
			& > div
				display: block
				text-align: center
		.modal_form_input_wrap
			margin-right: 0
			margin-bottom: 30px
			input
				margin: auto
	.hoverDivMenu
		display: none
	.final-coutdown
		h2
			font-size: 30px
	.blog-section
		.blog-content-container
			.link-wrap
				a
					font-size: 18px
			.content
				.select
					vertical-align: text-bottom
				.blog-navigation
					width: 270px
					font-size: 12px
					.right
						span
							font-size: 12px
				.link-for-article
					h4
						bottom: 5px
				.recomendation-article
					.text
						width: 120px
						p
							font-size: 12px
						h4
							font-size: 15px
					h3
						font-size: 21px

	.header
		&.langing-pages-header
			.header-form
				form
					& > div
						display: block
						text-align: center
					.modal_form_input_wrap
						margin-right: 0
						margin-bottom: 30px
						input
							margin: auto
							width: 90%
					input[type=submit]
						width: 95% !important

	.our_advantages
		&.langing-page-doing
			.aside-container
				margin-bottom: 60px

	.company-site-why-effective
		.why_profitably_items
			h3
				font-size: 25px
				line-height: 1
				margin-bottom: 19px
			.why_profitably_item_img
				width: 380px
				margin-right: 13px
			.why_profitably_item_txt
				padding-top: 0
				width: 353px
				i
					position: absolute
					left: 0
				ul
					li
						margin-bottom: 10px
						padding-left: 40px
						position: relative
						p
							width: auto

	.components-company-sites-section
		.components-company-sites-form
			form
				& > div
					display: block
				.modal_form_input_wrap
					margin: 0 0 20px
			.content
				padding: 45px

	.internet-shop-instruction
		&.company-site
			.content
				ul
					li
						.button
							float: none
		.content
			ul
				li
					.input-wrap
						float: left
						position: relative
						padding-bottom: 158px
	.company-site-agreement-section
		.img-wrap
			margin-bottom: 50px
		.components-company-sites-form
			form
				& > div
					display: block
				.modal_form_input_wrap
					margin: 0 0 20px

	.contextual-steps-section
		.content
			ul
				padding: 0 10px
				li
					.arrow
						display: none
			.gear-wrap
				display: none
	.contextual-not-pay-section
		&.hot_clients
			.about-wrap
				margin-bottom: 60px
	.unique_challenge
		form
			margin-bottom: 25px

	.portfolio-design-section
		.contant
			display: flex
			flex-direction: column
			margin-bottom:  65px
			.center
				margin: 0 auto
				float: none
			.wrap
				margin: auto
				float: none
				order: 2
	.blog-detalis-content-section
		.widget-vk
			margin: 0 15px
		.widget-fb
			margin: 0
	footer
		//bottom: -39px
		.logoMelforiWrap
			top: -24px
			left: 0

	.advancementConductingVk
		.iconSocial
			.imgWraper
				display: block
				margin: 0 auto
				width: 100%
				text-align: center
			p
				display: block
				font-size: 22px
				margin: 10px auto
				text-align: center
				width: 100%

	.examplesOfOurAchievements
		.carousel_wrap
			.owl-carousel
				.imgWraper
					width: 100%
					display: block
					margin: 0 auto
					img
						margin: 0 auto
				.TextAfter800
					display: block
					.tasks
						display: inline-block
						width: 49%
						vertical-align: top
						h3
							margin: 20px 41px
					.results
						display: inline-block
						width: 47%
						vertical-align: top
						margin-left: 10px
						h3
							margin: 20px 20px
				.carouselText
					display: none
	.rates_on_our_advancement
		.rates
			margin-bottom: 36px
			ul
				padding: 0 30px
			a
				width: 95%
	.free_audit_your_instagram_page
		padding-bottom: 100px
		form
			div
				margin-bottom: 20px

/* Small Devices, Tablets */

@media only screen and (max-width : 768px)


	h2
		margin-bottom: 10px !important
		font-size: 32px
		padding: 0 15px
		line-height: 1.2
		& + p
			font-size: 16px
			padding: 0 15px
	h3
		font-size: 28px
		padding: 0 15px
	.header_logo
		display: block
	.header
		&.header-mk
			.header-form
				top: calc(50% - 50px)
		&.design-header
			.header_title
				top: calc(50% - 210px)
			.header-form
				top: calc(50% - 25px)
		&.seo-header
			.header-form
				top: calc(50% - -50px)
	.vacancies-developers
		&.vacancies
			.vacancies-item
				.image-wrap
					float: none
					display: inline-block
					vertical-align: top
					.img2
						margin-top: 64px
					.img1
						margin-top: 88px
					.img3
						margin-top: 15px
					.img4
						margin-top: 55px
				.requirements-wrap
					float: none
					display: inline-block
				.requirements
					h4
						width: 260px
			.button-wrap
				float: none
				display: block
				text-align: center
				padding-left: 233px
				button
					width: 215px
					margin-top: 25px
	.title_block_left_decor
		p
			font-size: 18px !important
	.develop-site-problem-section
		.item
			text-align: center
			.img-wrap
				margin: 0 20px 0
			.content
				text-align: left
	// секция about-us-office


	.our_advantages
		&.langing-page-doing
			.langing-page-doing-item
				width: 300px
				margin: auto
				margin-bottom: 30px

	.langing-page-form-section
		.content
			.title-content
				width: auto
				margin-bottom: 30px
			.list
				width: auto
	.langing-page-form-section
		.form_frame
			h3
				text-align: center
				br
					display: block
			ul
				padding-top: 30px
				display: block
				width: 320px
				margin: 0 auto
				li
					font-size: 15px

	.landing-development-steps
		.video-wrap
			width: calc(100% - 15px)
		.content
			padding: 0 15px
			.lists-wrap
				ul
					width: auto
	.company-site-why-effective
		padding: 0 15px
		.why_profitably_items
			.why_profitably_item_img
				width: 100%
				margin-right: 0
				margin-bottom: 50px
			.why_profitably_item_txt
				width: 100%
	.components-company-sites-section
		.checkbox-container
			text-align: center
			.item
				text-align: left
				min-width: 80%
				display: inline-block

	.company-site-agreement-section
		.components-company-sites-form
			padding: 0 15px
			h3
				padding: 0
	.header
		&.header-SMM
			.header-form
				top: calc(50% - 25px)
	.header
		&.company-site-header
			.header_title
				position: static
		&.header-vacancies
			.header_title
				top: calc(50% - 240px)
			.header-form
				top: calc(50% - 35px)
	.company-site-agreement-section
		.list-wrap
			ul
				li
					h3
						padding: 0

	.contextual-not-pay-section
		.img-wrap
			display: none
		.decore-scheme-wrap
			width: 100%
			.item
				.content
					padding: 30px 20px
					font-size: 18px

	.contextual-google-yandex-section
		.img-wrap
			margin-top: 20px

	.contextual-steps-section
		.content
			margin-bottom: 20px
			ul
				li
					padding-left: 60px
					aside
						&.center-text
							p
								b
									font-size: 18px
					.decor-img
						width: 56px
						height: 55px
						span
								font-size: 30px
		.context-prise-wrap
			padding: 0 15px
			h3
				padding: 0
			.decore-img
				display: none

	.smm-guarantees-section
		.guarantees-wrap
			.item
				&.item-1
					margin-right: 60px

	.smm-steps-section
		.content
			ul
				padding: 0 10px
				li
					.arrow
						display: none
			.gear-wrap
				display: none
	.contextual-not-pay-section
		.decore-scheme-wrap
			.title-item
				padding: 0
				.gear-color
					display: none
				.title-item-decore
					padding: 0 34px 0 29px

	.internet-shop-instruction
		&.mk
			.list-items
				width: 50%
			.content
				padding: 0 15px
				text-align: center
				ul
					float: none
					width: auto
					display: block
					padding: 0
			.img-wrap-mk
				width: auto
				display: inline-block
				float: none

	.blog-detalis-content-section
		.article-wrap
			.article-img
				.article-title
					padding: 15px 30px
					h3
						padding: 0
						font-size: 18px
					p
						font-size: 14px
			.text,
			.bold
				font-size: 14px

	.blog-section
		.blog-content-container
			.content
				.widget
					text-align: center
				.widget-fb
					width: 300px
					display: inline-block
					vertical-align: top
				.widget-vk
					width: 300px
					display: inline-block
					vertical-align: top
				.search-wrap
					margin-bottom: 50px
					margin-top: 20px
				.blog-navigation
					width: 63%
				.recomendation-article
					text-align: center
					h3
						font-size: 28px
					.item
						text-align: left
						margin: 10px
						vertical-align: top
						display: inline-block
						.text
							width: 185px
						.img-wrap
							width: 100px
	/*Disable Animation on Mobile Devices*
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 35px
			margin-top: 40px
			& + p
				font-size: 18px
				padding: 0 15px
				line-height: 1.2
				& + p
					line-height: 1.2
	.header_modal
		margin-right: 10px
	[off-canvas*=left]
		width: 255px
	.unique_challenge
		&.you_always_know_what_you_pay
			min-height: 300px
			p
				font-size: 18px
				& + p
					padding: 0 15px
					font-size: 16px
			button
				width: 300px
				margin-bottom: 50px
	.who_are_we_bottom_title
		p
			font-size: 18px
			padding: 0 15px
	.couple_of_words
		.couple_of_words_txt
			width: 100%
			padding: 0 15px
	.SEO-audit_will_be_useful
		.SEO-audit_will_be_useful_items
			margin-top: 50px
	.owl-carousel
		.owl-item
		.carousel_you_have_done
			width: 100%
			margin-left: 15px
			ul
				li
					font-size: 16px
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			p
				font-size: 18px
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			.item_txt
				width: inherit
			.header_i
				margin-left: 15px
	.popup.pop4
		.dm-modal
			width: 90%
			.pop4_foto
				display: none
			.pop4_inner_wrap
				width: 100%
				margin-right: 0
			p.title
				font-size: 20px

	.main_section_portfolio
		.tabwraper
			padding: 10px 10px 0
			.tabs-items
				margin: 0 0 15px 0
				width: 380px
	footer
		.footerColumn
			ul
				max-width: 200px
				margin: 20px auto
				li
					&:first-of-type
						/* style */
						margin-left: 10px
	.free_audit_your_instagram_page
		form
			div
				margin-bottom: 30px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px)
	.footer
		.contacts-container
			max-width: 200px
			margin: 30px auto
	.examplesOfOurAchievements
		.carousel_wrap
			.owl-carousel
				.TextAfter800
					.tasks
						display: block
						width: 100%
						h3
							text-align: center
						p
							text-align: center

					.results
						display: block
						width: 100%
						h3
							text-align: center
						p
							text-align: center
@media only screen and (max-width: 760px) and (orientation: landscape)
	.close
		right: 20px
		top: 10px
		&:hover
			color: #920182

@media only screen and (max-width : 630px)
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			p
				font-size: 16px
				width: 420px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 620px)
	.smm-guarantees-section
		.guarantees-wrap
			.item
				display: block
				margin: auto
				&.item-1
					margin: 0 auto 30px

	.about-us-design-section
		.content-addition-wrap
			width: 100%
			padding: 0 15px
			.text-wrap
				font-size: 18px
			.decore-img
				display: none
	.header
		&.header-seo-audit
			.header-form
				top: calc(50% - 50px)
@media only screen and (max-width : 580px)
	h3
		font-size: 24px
	.internet-shop-instruction
		&.mk
			.list-items
				width: inherit
	.header_title
		h1
			font-size: 28px
			line-height: 1
			padding: 0 15px
			& + p
				font-size: 16px
				& + p
					font-size: 18px
					padding: 0 15px
		.select
			display: none
	.vacancies-developers
		.title-wrap
			h2
				font-size: 28px
		&.vacancies
			.vacancies-item
				.image-wrap
					.img2
						margin-top: 0
						margin-bottom: 15px
					.img1
						margin-top: 0
						margin-bottom: 15px
					.img3
						margin-top: 0
						margin-bottom: 15px
					.img4
						margin-top: 0
						margin-bottom: 15px
			.button-wrap
				padding-left: 15px
				button
					width: 255px
			.requirements
				padding-left: 30px

	.why_effective
		&.why_profitably
			.why_profitably_item_txt
				width: 90%
				p
					font-size: 16px
	.how_good
		.how_good_items
			padding: 0 15px
		.how_good_item
			width: 100%
			margin-top: 30px
			.mask
				.logo-title
					display: none
		.how_good_item_img
			width: 100%
			height: auto
			img
				width: 98%
				max-width: 98%
				height: auto
				padding-top: 5px
				padding-bottom: 5px
				display: block
		.how_good_item_mask
			width: 97.8%;
			height: 96.8%;

	//Секция services
	.services
		.services_item_img
			width: 100%
			height: auto
			img
				width: 98%
				max-width: 98%
				height: auto
				padding-top: 5px
				padding-bottom: 5px
				display: block
		.services_item_mask
			width: 98%
			height: 97%
		.services_item_txt_wrap
			width: 100%
		.services_item_txt
			button
				width: 50%
	.internet-shop-instruction
		.content
			ul
				padding-left: 15px
				li
					padding-left: 0
					img
						display: none
		&.company-site
			ul
				padding-left: 15px
				li
					.decor-img
						display: none
	.owl-carousel
		.carousel_txt_wrap
			margin-top: 0
		.carousel_analitics
			width: 250px
			text-align: center
		.carousel_analitics_img
			float: none
			display: inline-block
			img
				margin-right: 0
		.carousel_analitics_txt
			float: none
			text-align: left
			ul
				li
					margin-bottom: 0
					p
						width: 45px
						padding-left: 20px
						font-size: 20px
	.contextual-not-pay-section
		.about-wrap
			padding: 20px 0 0
			&:before
				display: none
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			.divider
				margin: auto


@media only screen and (max-width : 570px)
	.header
		&.facebook-header
			.header_title
				top: calc(50% - 250px)
		&.header-reviews
			.header_title
				top: calc(50% - 200px)
			.header-form
				top: calc(50% - 70px)
	.header_logo
		a
			span
				display: none

	// секция about-us-form
	.unique_challenge
		&.about-us-form
			.modal_form_input_wrap
				display: block
				input
					width: 90%
			input[type=submit]
				width: 90%

	.header_title
		top: calc(50% - 105px)
	.owl-carousel .owl-item>div
		padding: 3px

	.blog-detalis-content-section
		.article-wrap
			.article-img
				.article-title
					bottom: 10px

	.reviews
		.reviewContainer
			.reviewWraper
				.imgContainer
					.forImageCompany
						width: 100%

				.textContainer
					.mailsData
						.wraperDataCalendar
							float: none
						a
							margin:  5px auto
	.five_reasons_why_choose_us
		.content
			.gear-wrap
				display: none
			ul
				li
					.arrow
						display: none

@media only screen and (max-width : 565px)
	.blog-section
		.blog-content-container
			.content
				.blog-navigation
					width: 100%
				.select
					width: 100%
					margin: 10px 0
	.how_good
		.how_good_item
			.mask
				.content
					.company-title
						font-size: 19px
					.description
						font-size: 16px
				.logo-title
					display: none
@media only screen and (max-width : 520px)
	/**/
	.header_modal
		float: none
	.dm-modal
		width: 100%
	.dm-modal
		input[type=submit]
			width: 100%
	.unique_challenge
		&.vacancies-form
			form
				padding: 0 15px
				input
					width: 100%
				.texarea-wrap
					textarea
						width: 100%
	.unique_challenge
		input
			width: 90%
		input[type=submit]
			width: 90%
	.unique_challenge
		&.vacancies-form
			.texarea-wrap
				display: block
			.modal_form_input_wrap
				display: block

	.how_good
		.how_good_item
			.mask-link
			//height: calc(100% - 95px)
			.mask

	.langing-page-whe-call-section
		.content
			padding: 0 15px
			.img-wrap
				width: auto
			.text-wrap
				width: auto
				h3
					padding: 0
	.components-company-sites-section
		.components-company-sites-form
			.content
				padding: 45px 5px

	.company-site-agreement-section,
	.components-company-sites-section
		.components-company-sites-form
			form
				input,
				input[type=submit]
					width: 100%
				.modal_form_input_wrap
					display: block
	.header
		&.company-site-header
			min-height: 100vh
			height: auto
			.header-form
				padding: 0 15px 100px
				input,
				input[type=submit]
					width: 100%
				.modal_form_input_wrap
					display: block

	.internet-shop-instruction
		.content
			ul
				li
					padding-left: 0
					.decor-img
						width: 66px
						height: 64px
						span
							font-size: 25px

	.blog-detalis-content-section
		.content
			.blog-navigation
				.left
					float: none
					margin: 5px 0
				.right
					float: none
					margin: 5px 0



@media only screen and (max-width : 495px)
	.develop-site-problem-section
		.item
			text-align: center
			.img-wrap
				margin: 0 0 20px
			.content
				display: block
				text-align: center
				margin: auto

		.how_good
			.how_good_item
				.mask-link
					//height: calc(100% - 95px)
				.mask
					//height: calc(100% - 155px)


@media only screen and (max-width : 480px)
	/**/
	.why_effective
		&.us-internet-shop-section
			.item-wrap
				.button
					width: 95%
	.header-form
		input,
		input[type=submit]
			width: 95%
	.header_title
		h1
			font-size: 26px
		p, b
			padding: 0 15px
			font-size: 16px
			display: block
	.modal_form_input_wrap
		.modal_input_error
			right: 0px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px

	.our_advantages
		.our_advantages_item
			width: 310px
		a
			padding: 11.5px 40.6px
	.langing-page-form-section
		.form_frame
			h3
				font-size: 28px

	//секция about-us-office
	.us-office-section
		&.about-us-office
			.img-container
				.img-item
					img
						height: 148px

	.how_good
		a
			&.link
				padding: 11.5px 50px

	.services
		.services_item_mask
			width: 98%
			height: 95.5%

	.our_advantages
		&.internet-shop-goods
			.form-wrap
				.modal_form_input_wrap
					display: block
				form
					& > div
						display: block
				input,
				input[type=submit],
				.more-link
					width: 90%
	.internet-shop-instruction
		.content
			.addition-wrap
				input[type=submit],
				.more-link
					width: 90%
					font-size: 14px

	.why_effective
		&.us-internet-shop-section
			button
				width: 90%
				font-size: 14px
	.internet-shops-video
		.button
			width: 90%

	.landing-development-steps
		.form-container
			#form
				input,
				input[type=submit]
					width: 95%
	.langing-page-understanding
		.more-content
			.button
				width: 95%

	.header
		.langing-pages-header
			.header-form
				input,
				input[type=submit]
					width: 95%

	.unique_challenge
		&.vacancies-form
			.texarea-wrap
				textarea
					&::-webkit-input-placeholder
						font-size: 12px
					&:-moz-placeholder
						font-size: 12px
					&::-moz-placeholder
						font-size: 12px
					&:-ms-input-placeholder
						font-size: 12px
	.why_effective
		&.why_profitably
			.why_profitably_item_txt
				p
					width: 240px
	.SEO-audit_will_be_useful
		button
			width: 90%

	.main_section_portfolio

				.tabwraper
					.tabs-items
						width: 300px


	.components-company-sites-section
		padding: 0 15px
		.checkbox-container
			text-align: left
			.item
				display: block
				min-width: 0px
				min-height: 0px
				margin-bottom: 30px

	.internet-shop-instruction
			.content
				ul
					li
						.button
							width: 95%
						.input-wrap
							float: none
							width: 95%
							input[type=submit]
								width: 100%
						aside
							&.center-text
								float: none
	.unique_challenge
		form
			.modal_form_input_wrap
				display: block
			input
				width: 90%
			input[type=submit]
				width: 90%
		&.vacancies-form
			.texarea-wrap
				.fileload
					input[type=text]
						width: 230px
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			p
				font-size: 16px
				width: 330px
	.popup.pop4 .dm-modal
		width: 100%
	.reviews
		.reviewContainer
			.reviewWraper
				a
					float: none
					margin-top: 10px
					width: 90%
	.rates_on_our_advancement
		.rates
			ul
				padding: 0 20px
				li
					i
						margin-right: 7px
			a
				width: 260px
				margin: 0 auto

@media only screen and (max-width: 740px) and (orientation: landscape)
	.header
		&.header_page_404
			min-height: 450px
			.page_404
				.page_404_img
					margin-bottom: 20px


@media only screen and (max-width : 460px)
	.blog-section
		.blog-content-container
			.content
				.link-for-article
					.mask-wrap
						.link
							top: initial
							bottom: 15px
							width: 300px
					h4
						min-width: 0
						min-height: 65px
						font-size: 18px
						width: calc(100% - 10px)
						br
							display: none
	.header_modal
		margin-left: 0
		a
			font-size: 14px
		button
			width: 134px
	.page_404
		top: calc(50% - 130px)
		.page_404_img
			margin-bottom: 20px
		p
			line-height: 1.2
			font-size: 18px
		button
			width: 90%

	.how_good
		.how_good_item
			.mask
				.content
					.about-project
						width: 300px
					.company-title
						font-size: 16px
					.description
						font-size: 14px
	.rates_on_our_advancement
		.rates
			.rates-header
				.about-rate
					.how-mach
						font-size: 70px
@media only screen and (max-width : 400px)

	.header
		&.contextual-header
			input[type=submit]
				width: 95%
	.contextual-google-yandex-section
		.contextual-google-yandex-form
			form
				input[type=submit]
					width: 95%
				.modal_form_input_wrap
					display: block
					input
						width: 95%
	.unlike_contextual_of_advertising
		.unlike_contextual_of_advertising_wrap
			p
				font-size: 16px
				width: 270px
	.contextual-not-pay-section
		.smm-button-wrap
			input[type=submit]
				width: 95%

	.about-us-design-section
		.download-price-wrap
			.button
				width: 95%

	.blog-section
		.blog-content-container
			.content
				.link-for-article
					.mask-wrap
						.link
							font-size: 12px
							height: 30px
							width: 165px
	.how_good
		.how_good_item
			.mask
				.content
					.about-project
						width: 240px
						height: 30px
					.link-to-project
						display: none
					.company-title
						font-size: 14px
					.description
						font-size: 12px

@media only screen and (max-width : 380px)

	h2
		font-size: 30px


	//секция about-us-office
	.us-office-section
		&.about-us-office
			.img-container
				.img-item
					img
						height: 142px

	.how_good
		.how_good_item_mask
			width: 97.7%
			height: 94.6%
			left: 4px

	.internet-shop-instruction
		.content
			.addition-wrap
				input[type=submit]
					font-size: 12px

	.why_effective
		&.us-internet-shop-section
			.item-wrap
				.img-wrap
					width: 95%

	.develop-site-problem-section
		.item
			.content
				max-width: 100%
	.reviews
		.moreReviewsView
			.moreReviews
				padding: 25px 40px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.langing-page-form-section
		.form_frame
			h3
				font-size: 23px
			ul
				width: 100%
				padding-left: 20px
				li
					i
						margin-left: -34px

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/



/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px)
	.container
		width: 1200px



