@import "bourbon"
@import "vars.sass"
@import "sprite/sprite.sass"

// loads Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/owl.carousel/assets/owl.carousel.sass"
@import "../app/libs/FontAwesome/font-awesome.min"
@import "../app/libs/slidebars/slidebars.min"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
// Оформление слайдбара
[off-canvas]
	transition: transform 0.4s
	overflow: auto
	-webkit-overflow-scrolling: touch
[off-canvas*=left]
	width: 250px
[canvas=container]
	background-color: transparent
nav[canvas]
	position: fixed	
	top: 20px
	left: 20px
	display: none
	z-index: 100
[class*=js-open-], [class*=js-toggle-], [class*=js-close-]
	cursor: pointer
[off-canvas]
	ul
		&.menu
			margin: 0
			padding: 0
			display: block
			list-style: none



// Секция our_advantages
.our_advantages
	min-height: 1010px
	background-color: #f8f8fa
	text-align: center
	h2
		margin-bottom: -5px
		color: $main_color
	p
		font-size: 18px
		margin-bottom: 44px
	.our_advantages_item
		width: 370px
		padding: 40px 17px 0 23px
		min-height: 300px
		margin-right: 30px
		margin-bottom: 40px
		background-color: #ffffff
		&:first-of-type
			margin-left: 15px
		&:last-of-type
			margin-right: 0
		p
			margin-top: 8px
			margin-bottom: 0
			font-size: 16px
			line-height: 1.4
			text-align: left
			&:first-of-type
				margin-top: 15px
		.our_advantages_item_big_num
			height: 72px
			text-align: center
			position: relative
			@extend %flex
			p
				margin: 0
				font-size: 18px
				color: $auxiliary_txt_color
				z-index: 1
			span
				position: absolute
				top: 0
				left: 0
				right: 0
				font-size: 86px
				line-height: 0.8
				color: #f3f3f3
				z-index: 0
	h3
		margin-top: 56px
	button
		@extend %main_btn
		width: 370px
		&:hover
			@extend %main_btn_hover
		&:active
			@extend %main_btn_active
		&:focus
			@extend %main_btn_focus


.title_block_left_decor
	width: 840px
	margin: 0 0 0 208px
	position: relative
	&.title_right
		margin: 0 0 0 308px
	p
		width: 800px
		margin-bottom: 0 !important
		display: Inline-block
		vertical-align: middle
		text-align: left
		font-size: 24px !important
		line-height: 1.25
.title_block_left_decor_img
	display: inline-block
	vertical-align: middle
	margin-right: 20px
	@include sprite($title_block_left_decor)

// Секция why_effective
.why_effective
	text-align: center
	h2
		margin-bottom: -7px
		color: $main_color
	p
		font-size: 18px
		margin-bottom: 45px
	.why_effective_items
		margin-top: 70px
		margin-bottom: 35px
	.why_effective_item
		margin-bottom: 85px
		p
			margin-top: 12px
			margin-bottom: 15px
			line-height: 1.1
		button
			@extend %main_btn
			width: 230px
			&:hover
				@extend %main_btn_hover
			&:active		
				@extend %main_btn_active
			&:focus
				@extend %main_btn_focus
	.why_effective_item_img
		min-height: 170px
//	Секция unique_challenge
.unique_challenge
	min-height: 410px
	text-align: center
	background-color: $main_color
	h2
		margin-bottom: -5px
	p
		font-size: 18px
		color: #ffffff
	form
		margin-top: 30px
	.modal_form_input_wrap
		display: inline-block
		margin-right: 30px
	input
		@extend %main_btn
		color: #ffffff
		width: 370px
		padding-left: 15px
		border: 1px solid #fff
		&:hover
			outline: 0
		&:active
			outline: 0
		&:focus
			outline: 0
		&::-webkit-input-placeholder
			color: #fff
		&:-moz-placeholder
			color: #fff
		&::-moz-placeholder
			color: #fff
		&:-ms-input-placeholder
			color: #fff
	input[type=submit]
		display: inline-block
		@extend %main_btn2
		color: $main_color
		&:hover
			@extend %main_btn2_hover
		&:active
			@extend %main_btn2_active
		&:focus
			@extend %main_btn2_focus


// Секция why_profitably
.why_effective
	&.why_profitably
		.why_profitably_items
			margin-top: 50px
			margin-bottom: 120px
			text-align: left
		.why_profitably_item_img
			width: 650px
			height: 510px
			margin-right: 50px
			display: inline-block
			vertical-align: top
		.why_profitably_item_txt
			width: 480px
			display: inline-block
			vertical-align: top
			ul
				padding: 0
				li
					list-style: none
			i
				margin-right: 15px
				color: $auxiliary_txt_color
				font-size: 24px
			p
				display: inline-block
				margin-bottom: 15px
				@include font($main_txt_color, 24px, $font_SFUIDisplay-Light, 1.2)
		h3
			margin-top: 120px
			margin-bottom: 31px
			line-height: 0.9

//	Секция you_always_know_what_you_pay
.unique_challenge
	&.you_always_know_what_you_pay
		min-height: 430px
		p
			font-size: 24px
			line-height: 1.2
			& + p
				font-size: 18px
		button
			margin-top: 30px
			@extend %main_btn2
			&:hover
				@extend %main_btn2_hover
			&:active		
				@extend %main_btn2_active
			&:focus
				@extend %main_btn2_focus
				
//	Секция who_are_we
.who_are_we_items
	margin-top: 60px
	margin-bottom: 6px
	.who_are_we_item
		text-align: center
		margin-bottom: 70px
		&:last-of-type
			margin-right: 0
		.who_are_we_item_img
			margin: auto
			position: relative
			padding: 5px
			@extend %flex
			@include sprite($who_are_we_item_img_back)
		.who_are_we_item_text
			position: absolute
			top: 0px
			padding: 5px
			font-size: 18px
			left: 0px
			right: 0px
			height: 100%
			width: 100%
			display: table
			span
				background: #ccc
				border-radius: 50%
				display: table-cell
				vertical-align: middle
		p
			margin-top: 6px
			margin-bottom: 0
			font-size: 24px
.who_are_we_bottom_title
	p
		font-size: 24px
		margin-bottom: 0
		line-height: 1.25
		font-family: $font_SFUIDisplay-Light
		&.medium_title
			font-family: $font_SFUIDisplay-Medium
	i
		display: inline-block
		margin-top: 17px
		@include sprite($bottom_title_decor)
//	Секция
//	Секция 
//	Секция 
//	Секция
//	Секция


// Секия footer 
.footer
	background-color: #fff
	height: 200px



//ALWAYS END
@import "media"

