// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-color-name: 'arrow-color'
$arrow-color-x: 255px
$arrow-color-y: 22px
$arrow-color-offset-x: -255px
$arrow-color-offset-y: -22px
$arrow-color-width: 6px
$arrow-color-height: 9px
$arrow-color-total-width: 262px
$arrow-color-total-height: 235px
$arrow-color-image: '../img/sprite.png'
$arrow-color: (255px, 22px, -255px, -22px, 6px, 9px, 262px, 235px, '../img/sprite.png', 'arrow-color', )
$arrow-name: 'arrow'
$arrow-x: 249px
$arrow-y: 22px
$arrow-offset-x: -249px
$arrow-offset-y: -22px
$arrow-width: 6px
$arrow-height: 9px
$arrow-total-width: 262px
$arrow-total-height: 235px
$arrow-image: '../img/sprite.png'
$arrow: (249px, 22px, -249px, -22px, 6px, 9px, 262px, 235px, '../img/sprite.png', 'arrow', )
$bottom-title-decor-name: 'bottom_title_decor'
$bottom-title-decor-x: 0px
$bottom-title-decor-y: 230px
$bottom-title-decor-offset-x: 0px
$bottom-title-decor-offset-y: -230px
$bottom-title-decor-width: 108px
$bottom-title-decor-height: 5px
$bottom-title-decor-total-width: 262px
$bottom-title-decor-total-height: 235px
$bottom-title-decor-image: '../img/sprite.png'
$bottom-title-decor: (0px, 230px, 0px, -230px, 108px, 5px, 262px, 235px, '../img/sprite.png', 'bottom_title_decor', )
$check-active-name: 'check_active'
$check-active-x: 240px
$check-active-y: 0px
$check-active-offset-x: -240px
$check-active-offset-y: 0px
$check-active-width: 22px
$check-active-height: 22px
$check-active-total-width: 262px
$check-active-total-height: 235px
$check-active-image: '../img/sprite.png'
$check-active: (240px, 0px, -240px, 0px, 22px, 22px, 262px, 235px, '../img/sprite.png', 'check_active', )
$decor-line-big-name: 'decor-line-big'
$decor-line-big-x: 230px
$decor-line-big-y: 0px
$decor-line-big-offset-x: -230px
$decor-line-big-offset-y: 0px
$decor-line-big-width: 5px
$decor-line-big-height: 162px
$decor-line-big-total-width: 262px
$decor-line-big-total-height: 235px
$decor-line-big-image: '../img/sprite.png'
$decor-line-big: (230px, 0px, -230px, 0px, 5px, 162px, 262px, 235px, '../img/sprite.png', 'decor-line-big', )
$ellipse-color-name: 'ellipse-color'
$ellipse-color-x: 249px
$ellipse-color-y: 38px
$ellipse-color-offset-x: -249px
$ellipse-color-offset-y: -38px
$ellipse-color-width: 7px
$ellipse-color-height: 7px
$ellipse-color-total-width: 262px
$ellipse-color-total-height: 235px
$ellipse-color-image: '../img/sprite.png'
$ellipse-color: (249px, 38px, -249px, -38px, 7px, 7px, 262px, 235px, '../img/sprite.png', 'ellipse-color', )
$ellipse-name: 'ellipse'
$ellipse-x: 249px
$ellipse-y: 45px
$ellipse-offset-x: -249px
$ellipse-offset-y: -45px
$ellipse-width: 7px
$ellipse-height: 7px
$ellipse-total-width: 262px
$ellipse-total-height: 235px
$ellipse-image: '../img/sprite.png'
$ellipse: (249px, 45px, -249px, -45px, 7px, 7px, 262px, 235px, '../img/sprite.png', 'ellipse', )
$hz-name: 'hz'
$hz-x: 249px
$hz-y: 31px
$hz-offset-x: -249px
$hz-offset-y: -31px
$hz-width: 7px
$hz-height: 7px
$hz-total-width: 262px
$hz-total-height: 235px
$hz-image: '../img/sprite.png'
$hz: (249px, 31px, -249px, -31px, 7px, 7px, 262px, 235px, '../img/sprite.png', 'hz', )
$line-name: 'line'
$line-x: 240px
$line-y: 22px
$line-offset-x: -240px
$line-offset-y: -22px
$line-width: 9px
$line-height: 40px
$line-total-width: 262px
$line-total-height: 235px
$line-image: '../img/sprite.png'
$line: (240px, 22px, -240px, -22px, 9px, 40px, 262px, 235px, '../img/sprite.png', 'line', )
$plus-name: 'plus'
$plus-x: 240px
$plus-y: 62px
$plus-offset-x: -240px
$plus-offset-y: -62px
$plus-width: 16px
$plus-height: 16px
$plus-total-width: 262px
$plus-total-height: 235px
$plus-image: '../img/sprite.png'
$plus: (240px, 62px, -240px, -62px, 16px, 16px, 262px, 235px, '../img/sprite.png', 'plus', )
$ru-name: 'ru'
$ru-x: 240px
$ru-y: 78px
$ru-offset-x: -240px
$ru-offset-y: -78px
$ru-width: 20px
$ru-height: 12px
$ru-total-width: 262px
$ru-total-height: 235px
$ru-image: '../img/sprite.png'
$ru: (240px, 78px, -240px, -78px, 20px, 12px, 262px, 235px, '../img/sprite.png', 'ru', )
$title-block-left-decor-name: 'title_block_left_decor'
$title-block-left-decor-x: 235px
$title-block-left-decor-y: 0px
$title-block-left-decor-offset-x: -235px
$title-block-left-decor-offset-y: 0px
$title-block-left-decor-width: 5px
$title-block-left-decor-height: 100px
$title-block-left-decor-total-width: 262px
$title-block-left-decor-total-height: 235px
$title-block-left-decor-image: '../img/sprite.png'
$title-block-left-decor: (235px, 0px, -235px, 0px, 5px, 100px, 262px, 235px, '../img/sprite.png', 'title_block_left_decor', )
$who-are-we-item-img-back-name: 'who_are_we_item_img_back'
$who-are-we-item-img-back-x: 0px
$who-are-we-item-img-back-y: 0px
$who-are-we-item-img-back-offset-x: 0px
$who-are-we-item-img-back-offset-y: 0px
$who-are-we-item-img-back-width: 230px
$who-are-we-item-img-back-height: 230px
$who-are-we-item-img-back-total-width: 262px
$who-are-we-item-img-back-total-height: 235px
$who-are-we-item-img-back-image: '../img/sprite.png'
$who-are-we-item-img-back: (0px, 0px, 0px, 0px, 230px, 230px, 262px, 235px, '../img/sprite.png', 'who_are_we_item_img_back', )
$spritesheet-width: 262px
$spritesheet-height: 235px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-color, $arrow, $bottom-title-decor, $check-active, $decor-line-big, $ellipse-color, $ellipse, $hz, $line, $plus, $ru, $title-block-left-decor, $who-are-we-item-img-back, )
$spritesheet: (262px, 235px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
